<div class="body m-3" >
  <!-- <div class="row"> -->
    <h2>{{ title }}</h2>
    <button
      mat-icon-button
      class="close-button"
      [mat-dialog-close]="true"
      aria-label="Close"
    >
      <mat-icon>close</mat-icon>
    </button>
  <!-- </div> -->

  <mat-divider></mat-divider>

  <div class="compose-wrapper mat-elevation-z4">
    <form
      [formGroup]="composeForm"
      (ngSubmit)="sendEmail()"
      class="compose-form"
    >
      <!-- TO FIELD -->
      <mat-form-field class="example-chip-list" [class.disabled]="title === 'View Message'">
        <mat-label>To</mat-label>
        <mat-chip-grid #toGrid aria-label="To email list">
          @for (email of toEmails(); track email) {
          <mat-chip-row
            (removed)="removeEmail('to', email)"
            [editable]="true"
            (edited)="editEmail('to', email, $event)"
            [aria-description]="'Press enter to edit ' + email"
          >
            {{ email }}
            <button matChipRemove [attr.aria-label]="'remove ' + email">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            placeholder="Enter email"
            [matChipInputFor]="toGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addEmail('to', $event)"
          />
        </mat-chip-grid>
        <!-- Suffix Buttons inside To field -->
        <span matSuffix class="cc-bcc-buttons">
          <button
            mat-icon-button
            type="button"
            aria-label="Add Cc"
            (click)="showCC = !showCC"
            *ngIf="!showCC"
          >
            Cc
          </button>
          <button
            mat-icon-button
            type="button"
            aria-label="Add Bcc"
            (click)="showBCC = !showBCC"
            *ngIf="!showBCC"
          >
            Bcc
          </button>
        </span>
      </mat-form-field>

      <!-- CC FIELD -->
      <mat-form-field *ngIf="showCC" class="example-chip-list">
        <mat-label>Cc</mat-label>
        <span matSuffix class="cc-bcc-buttons">
          <button
            mat-icon-button
            type="button"
            aria-label="Add Cc"
            (click)="showCC = !showCC"
          >
            Cc
          </button>
        </span>
        <mat-chip-grid #ccGrid aria-label="Cc email list">
          @for (email of ccEmails(); track email) {
          <mat-chip-row
            (removed)="removeEmail('cc', email)"
            [editable]="true"
            (edited)="editEmail('cc', email, $event)"
            [aria-description]="'Press enter to edit ' + email"
          >
            {{ email }}
            <button matChipRemove [attr.aria-label]="'remove ' + email">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            placeholder="Enter Cc"
            [matChipInputFor]="ccGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addEmail('cc', $event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <!-- BCC FIELD -->
      <mat-form-field *ngIf="showBCC" class="example-chip-list">
        <mat-label>Bcc</mat-label>
        <span matSuffix class="cc-bcc-buttons">
          <button
            mat-icon-button
            type="button"
            aria-label="Add Bcc"
            (click)="showBCC = !showBCC"
          >
            Bcc
          </button>
        </span>
        <mat-chip-grid #bccGrid aria-label="Bcc email list">
          @for (email of bccEmails(); track email) {
          <mat-chip-row
            (removed)="removeEmail('bcc', email)"
            [editable]="true"
            (edited)="editEmail('bcc', email, $event)"
            [aria-description]="'Press enter to edit ' + email"
          >
            {{ email }}
            <button matChipRemove [attr.aria-label]="'remove ' + email">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            placeholder="Enter Bcc"
            [matChipInputFor]="bccGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addEmail('bcc', $event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <!-- Subject -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Subject</mat-label>
        <input
          matInput
          placeholder="Subject"
          formControlName="subject"
          required
        />
      </mat-form-field>

      <!-- Body -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Message</mat-label>
        <textarea
          matInput
          rows="8"
          placeholder="Write your message..."
          formControlName="body"
        ></textarea>
      </mat-form-field>

      <!-- Attachments -->
      <!-- <div class="attachment-container">
        <label for="attachments">Attachment:</label>
        <input
          type="file"
          id="attachments"
          (change)="onFileSelected($event)"
          multiple
        />
      </div> -->

      <!-- Actions -->
      <div class="actions">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          >
          <!-- [disabled]="composeForm.invalid" -->
          Send
        </button>
        <!-- <button mat-stroked-button type="button" (click)="discardEmail()">
          Discard
        </button> -->
      </div>
    </form>
  </div>
</div>
