<!-- <button mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>Add New Scheme</h2>
<mat-divider></mat-divider>
<br />
<mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="schemeForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Select Department</mat-label>
            <mat-select #deptCode formControlName="deptCode" disableRipple>
                <mat-option *ngFor="let item of departmentList" [value]="item.deptCode">
                    {{item.nameCode+"-"+item.name}}
                </mat-option>
            </mat-select>
            <mat-hint>Please select Department Name</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Select Scheme type</mat-label>
            <mat-select #schemeType formControlName="schemeType" disableRipple>
                <mat-option *ngFor="let item of schemeTypeList" [value]="item.codeValueId">
                    {{item.codeValueDesc}}
                </mat-option>
            </mat-select>
            <mat-hint>Please select scheme type</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Scheme Name</mat-label>
            <input matInput #schemeName formControlName="schemeName" placeholder="" required>
            <mat-hint>Please enter a new scheme name</mat-hint>
            <mat-error *ngIf="!schemeForm.controls['scheme']?.valid">Please Enter Scheme Name</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>DBT Scheme Code</mat-label>
            <input matInput #schemeCode formControlName="schemeCode" maxlength="256"
                placeholder="Ex. I need help with...">
            <mat-hint align="start">Please enter DBT Scheme Code</mat-hint>
            <mat-hint align="end">{{schemeCode.value.length}} / 256</mat-hint>

        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Type of Transfer</mat-label>
            <mat-select #transferType formControlName="transferType" disableRipple>
                <mat-option *ngFor="let item of benefitTypeList" [value]="item.codeValueId">
                    {{item.codeValueDesc}}
                </mat-option>
            </mat-select>
            <mat-hint>(Cash/ In-Kind / Cash & In-Kind)</mat-hint>
        </mat-form-field> -->


<!---------------------------------------------------------------------------------->

<!-- <div class="row">
            <div class="col-md-12">
                <mat-label>Funding Pattern of Scheme <b>(In Percentage)</b><mat-icon
                        matTooltip="Please Note (Central Share % + State Share % will always be = 100%) Topup % will additional over this. E.g. For a CSS scheme Central Share=30%, State Share=70% and Additional State Share=20%">info</mat-icon></mat-label>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-half-width" appearance="outline" class="col-md-12">
                    <mat-label>Central Share</mat-label>
                    <input matInput #fundingPattern formControlName="centralShare" placeholder="" required>
                    <mat-icon matSuffix>%</mat-icon>
                    <mat-hint>Central Share in Percentage</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="example-half-width" appearance="outline" class="col-md-12">
                    <mat-label>State Share</mat-label>
                    <input matInput #fundingPattern formControlName="stateShare" placeholder="" required>
                    <mat-icon matSuffix>%</mat-icon>
                    <mat-hint>State Share in Percentage</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-half-width" appearance="outline" class="col-md-12">
                    <mat-label>Additional State Share</mat-label>
                    <input matInput #fundingPattern formControlName="additionalStateShare" placeholder="" required>
                    <mat-icon matSuffix>%</mat-icon>
                    <mat-hint>Additional Share in Percentage</mat-hint>
                </mat-form-field>
            </div>

        </div> -->

<!---------------------------------------------------------------------------------->

<!-- <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>DBT Scheme Code Generated by State on Bharat DBT Portal for the Scheme</mat-label>
            <input matInput #dBTSchemeCode_E formControlName="dBTSchemeCode_E" placeholder="">
            <mat-hint>(Begining with 'E')</mat-hint>

        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Corresponding Central Govt. DBT Scheme Code</mat-label>
            <input matInput #dBTSchemeCode_B formControlName="dBTSchemeCode_B" placeholder="" required>
            <mat-hint>(Begining with 'B' | Central CSS)</mat-hint>

        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="isadmin" appearance="outline">
            <mat-label>Bharat DBT Generated secret key</mat-label>
            <input matInput #dBTSchemeCode_B formControlName="secretKey">
            <mat-hint>This Code to be generated at Bharat DBT portal</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Progress of scheme specific MIS</mat-label>
            <mat-select #progress formControlName="progress" disableRipple>
                <mat-option *ngFor="let item of progressTypeList" [value]="item.codeValueId">
                    {{item.codeValueDesc}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field class="example-half-width" appearance="outline">
            <mat-label>Select Data Entry Financial Year</mat-label>
            <mat-select #onBoarded formControlName="dataShareType" disableRipple>
                <mat-option *ngFor="let item of finYearList" [value]="item.codeValueId">
                    {{item.codeValueDesc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-half-width" appearance="outline">
            <mat-label>Data Share Type</mat-label>
            <mat-select #onBoarded formControlName="dataShareType" disableRipple>
                <mat-option *ngFor="let item of dataShareType" [value]="item.codeValueId">
                    {{item.codeValueDesc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-half-width" appearance="outline">
            <mat-label>Whether scheme API integrated with State DBT Portal</mat-label>
            <mat-select #misIntegrated formControlName="apiIntegrated" disableRipple>
                <mat-option *ngFor="let item of decisionTypeList" [value]="item.codeValueId">
                    {{item.codeValueDesc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-divider></mat-divider>
        <br />
        <button mat-raised-button type="submit" color="primary" [disabled]="!schemeForm.valid">Save Scheme</button>
        &nbsp;&nbsp;&nbsp;
        <span [hidden]="schemeForm.valid" id="form-button-msg">(<b>N.B.</b> Button will be enabled once validation
            pass)</span>
        <br />
        <br />
    </form>
    <br />
</mat-dialog-content> -->











<div class="">
  <div class="d-flex justify-content-between">

    <div class="header-row">
      <mat-icon color="primary">new_releases</mat-icon>
      <h2>Add New Scheme</h2>
    </div>
    <button mat-icon-button class="close-icon" [mat-dialog-close]="true" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>



  <mat-divider class="divider"></mat-divider>

  <form [formGroup]="schemeForm" (ngSubmit)="onSubmit()">
    <div class="d-flex gap-3 w-100 mt-3">
      <mat-form-field appearance="outline" class="flex-fill full-width slim-field mt-2">
        <mat-label>Department</mat-label>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        <!-- <mat-select formControlName="deptCode" required> -->
        <input matInput type="text" formControlName="deptCode" [matAutocomplete]="dept" (keyup)="searchDept($event);" />
        <mat-autocomplete #dept="matAutocomplete" [displayWith]="displayFnDepartment.bind(this)">
          <mat-option *ngFor="let item of departmentList" [value]="item.deptCode">
            {{item.name_Code}} - {{item.name}}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-select> -->
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex-fill full-width slim-field mt-2">
        <mat-label>Scheme Type</mat-label>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>

        <!-- <mat-select formControlName="schemeType" required> -->
        <input matInput type="text" formControlName="schemeType" [matAutocomplete]="scheme" />
        <mat-autocomplete #scheme="matAutocomplete" [displayWith]="displayFnSchemeType.bind(this)">
          <mat-option *ngFor="let item of schemeTypeList" [value]="item.codeValueId">
            {{item.codeValueDesc}}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-select> -->
      </mat-form-field>
    </div>


    <div class="d-flex gap-3 mt-3">
      <div class="scheme-name">
        <mat-form-field appearance="outline" class="w-100 slim-field">
          <mat-label>Scheme Name</mat-label>
          <input matInput formControlName="schemeName" required>
        </mat-form-field>
      </div>
      <div class="transfer-type">
        <mat-form-field appearance="outline" class="w-100 compact-field">
          <mat-label>Type of Transfer</mat-label>
          <mat-select formControlName="transferType" required>
            <mat-option *ngFor="let item of benefitTypeList" [value]="item.codeValueId">
              {{item.codeValueDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex gap-3 mt-3">
      <div class="scheme-code">
        <mat-form-field appearance="outline" class="w-100 slim-field ">
          <mat-label>DBT Scheme Code</mat-label>
          <input matInput maxlength="256" formControlName="schemeCode" required>
          <mat-hint align="end">{{schemeForm.get('schemeCode')?.value?.length || 0}} / 256</mat-hint>
        </mat-form-field>
      </div>
      <div class="state-code">
        <mat-form-field appearance="outline" class="w-100 slim-field">
          <mat-label>DBT State Code (E...)</mat-label>
          <input matInput formControlName="dBTSchemeCode_E" placeholder="Starts with E">
          <mat-hint>(Begins with 'E')</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex gap-1">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 slim-field mt-4">
          <mat-label>Central DBT Code (B...)</mat-label>
          <input matInput formControlName="dBTSchemeCode_B" placeholder="Starts with B" required>
          <mat-hint>(Begins with 'B')</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 slim-field mt-4" *ngIf="isadmin">
          <mat-label>Bharat DBT Secret Key</mat-label>
          <input matInput formControlName="secretKey">
          <mat-hint>Generated by Bharat DBT Portal</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="funding-section mt-4">
      <label class="funding-title">
        Funding Pattern <mat-icon
          matTooltip="Central Share % + State Share % = 100%. Additional share can be top-up.">info</mat-icon>
      </label>
      <div class="d-flex gap-1">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100 slim-field mt-2">
            <mat-label>Central Share (%)</mat-label>
            <input matInput type="number" formControlName="centralShare" (blur)="clampToPercentRange()" required min="0" max="100">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100 slim-field mt-2">
            <mat-label>State Share (%)</mat-label>
            <input matInput type="number" formControlName="stateShare" (blur)="clampToPercentRange()" required min="0" max="100">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100 slim-field mt-2">
            <mat-label>Add. State Share (%)</mat-label>
            <input matInput type="number" formControlName="additionalStateShare" (blur)="clampToPercentRange()" required min="0" max="100">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="d-flex gap-1 mt-2">
      <mat-form-field appearance="outline" class="compact-field">
        <mat-label>MIS Progress</mat-label>
        <mat-select formControlName="progress" required>
          <mat-option *ngFor="let item of progressTypeList" [value]="item.codeValueId">
            {{item.codeValueDesc}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="compact-field">
        <mat-label>Financial Year</mat-label>
        <mat-select formControlName="finYear" required>
          <mat-option *ngFor="let item of finYearList" [value]="item.codeValueId">
            {{item.codeValueDesc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="compact-field">
        <mat-label>Data Share Type</mat-label>
        <mat-select formControlName="dataShareType" required>
          <mat-option *ngFor="let item of dataShareType" [value]="item.codeValueId">
            {{item.codeValueDesc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="compact-field">
        <mat-label>API Integrated?</mat-label>
        <mat-select formControlName="apiIntegrated" required>
          <mat-option *ngFor="let item of decisionTypeList" [value]="item.codeValueId">
            {{item.codeValueDesc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider class="divider"></mat-divider>
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!schemeForm.valid">
        <mat-icon>save</mat-icon> Save Scheme
      </button>
      <span *ngIf="!schemeForm.valid" class="form-note">
        (<b>N.B.</b> Button will be enabled once validation passes)
      </span>
    </div>
  </form>
</div>
