<h2 mat-dialog-title>Beneficiary Benifit Matrix</h2>
<mat-divider></mat-divider>
<br />
<mat-dialog-content class="mat-typography">
    <form class="example-form">
        <div class="row">
            <div class="col-md-2">
            </div>
        </div>

    </form>
    <table style="width: 30%; border: 1;">
        <tr>
            <th>Beneficiary Eligible for Scheme:</th>
            <td><img src="assets/eligible.png" height="20px" width="20px" alt="" srcset=""></td>
        </tr>
        <tr>
            <th>Beneficiary benefitted for Scheme:</th>
            <td><img src="assets/benefitted.png" height="20px" width="20px" alt="" srcset=""></td>
        </tr>
        <tr>
            <th>Beneficiary benefitted but not eligible for Scheme:</th>
            <td><img src="assets/benefitted_not_eligible.png" height="20px" width="20px" alt="" srcset=""></td>
        </tr>
        <tr>
            <th>Beneficiary not benefitted not eligible for Scheme:</th>
            <td><img src="assets/cancel.png" height="20px" width="20px" alt="" srcset=""></td>
        </tr>
    </table>
    <br /><br />
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="dbtid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3><b>DBT Id</b></h3>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.dbtid}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3><b>Name</b></h3>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="lakkhirbhandar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3><b>Lakkhir Bhandar</b></h3>
                </th>


                <td mat-cell *matCellDef="let element">
                    <div *ngIf="((element.eligible)%2)==1; else second">
                        <img src="assets/eligible.png" height="20px" width="20px" alt="" srcset="">
                    </div>
                    <ng-template #second>
                        <div *ngIf="((math.floor(element.benefitted)%2)==1); else third">
                            <img src="assets/benefitted.png" height="20px" width="20px" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template #third>
                        <div *ngIf="((math.floor(element.benefitted_not_eligible)%2)==1); else fourth">
                            <img src="assets/benefitted_not_eligible.png" height="20px" width="20px" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template #fourth>
                        <img src="assets/cancel.png" height="20px" width="20px" alt="" srcset="">
                    </ng-template>
                </td>
                <!-- <ng-template #second>
                    <td *ngIf="((element.keyvalue)%2)!=0"><img src="assets/cancel.png" height="20px" width="20px" alt="" srcset=""></td>
                </ng-template> -->

            </ng-container>

            <ng-container matColumnDef="manabik">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3><b>Manabik</b></h3>
                </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.keyvalue}} </td> -->

                <td mat-cell *matCellDef="let element">
                    <div *ngIf="((math.floor(element.eligible/2)%2)==1); else second">
                        <img src="assets/eligible.png" height="20px" width="20px" alt="" srcset="">
                    </div>
                    <ng-template #second>
                        <div *ngIf="((math.floor(element.benefitted/2)%2)==1); else third">
                            <img src="assets/benefitted.png" height="20px" width="20px" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template #third>
                        <div *ngIf="((math.floor(element.benefitted_not_eligible/2)%2)==1); else fourth">
                            <img src="assets/benefitted_not_eligible.png" height="20px" width="20px" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template #fourth>
                        <img src="assets/cancel.png" height="20px" width="20px" alt="" srcset="">
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="oap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3><b>Old Age Pension</b></h3>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="((math.floor(element.eligible/4)%2)==1); else second">
                        <img src="assets/eligible.png" height="20px" width="20px" alt="" srcset="">
                    </div>
                    <ng-template #second>
                        <div *ngIf="((math.floor(element.benefitted/4)%2)==1); else third">
                            <img src="assets/benefitted.png" height="20px" width="20px" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template #third>
                        <div *ngIf="((math.floor(element.benefitted_not_eligible/4)%2)==1); else fourth">
                            <img src="assets/benefitted_not_eligible.png" height="20px" width="20px" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template #fourth>
                        <img src="assets/cancel.png" height="20px" width="20px" alt="" srcset="">
                    </ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef="wp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3><b>Widow Pension</b></h3>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="((math.floor(element.eligible/8)%2)==1); else second">
                        <img src="assets/eligible.png" height="20px" width="20px" alt="" srcset="">
                    </div>
                    <ng-template #second>
                        <div *ngIf="((math.floor(element.benefitted/8)%2)==1); else third">
                            <img src="assets/benefitted.png" height="20px" width="20px" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template #third>
                        <div *ngIf="((math.floor(element.benefitted_not_eligible/8)%2)==1); else fourth">
                            <img src="assets/benefitted_not_eligible.png" height="20px" width="20px" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template #fourth>
                        <img src="assets/cancel.png" height="20px" width="20px" alt="" srcset="" matTooltip="NA">
                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
            [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
        </mat-paginator>
    </div>
</mat-dialog-content>