<div class="d-flex justify-content-between mt-4 ms-3 me-3 mb-0">
  <div class="">
    <h2 mat-dialog-title>Extended DBT Data</h2>
  </div>
  <div class="">
    <mat-form-field class="full-width slim-field mt-2" appearance="outline">
      <mat-label>Financial Year</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="selectedFinYear"
        [matAutocomplete]="finYrAuto"
        name="finYrCode"
        required="selectedFinYear"
      />
      <mat-icon matSuffix>arrow_drop_down</mat-icon>
      <mat-autocomplete
        #finYrAuto="matAutocomplete"
        [displayWith]="displayFinancialYearFn.bind(this)"
      >
        <mat-option
          class="ctm-auto-ddl"
          *ngFor="let year of finYrList"
          [title]="year.codeValueDesc"
          (onSelectionChange)="onFinancialYearSelect($event, year.codeValueId)"
          [value]="year.codeValueId.trim()"
        >
          {{ year.codeValueDesc.trim() }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button class="close-icon" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="mt-0 ms-5 mb-5 me-5">
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      multiTemplateDataRows
      class="bordered-table"
    >

      <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Department Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="beneficiaryCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Beneficiary Count
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.beneficiaryCount || "" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>View Data</th>
        <td mat-cell *matCellDef="let element"
        class="action-link"
        [matTooltip]="selectedFinYear === '' ? 'Please Select Financial Year First' : 'Click to View'">
          <button
          [disabled]="selectedFinYear == ''"
            class="view-btn"
            mat-flat-button
            (click)="
              
              getExpandedDetails(element.deptCode, element)
            "
          >
            <mat-icon color="primary">visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail" class="mb-5">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="row element-detail"
            [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
          >
            <table class="inner-table">
              <thead>
                <tr>
                  <th>Scheme Name</th>
                  <th>Total Beneficiary</th>
                  <th>Total Expenses</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="element.schemes?.length > 0; else noData">
                <tr *ngFor="let scheme of element.schemes">
                  <td  style="width: 40%; word-wrap: break-word; white-space: normal;">{{ scheme.schemeName || "" }}</td>
                  <td>{{ scheme.totalBen || "" }}</td>
                  <td>
                    {{
                      scheme.fundTrnsferCash || ""
                        | currency : "INR" : "symbol" : "1.2-2"
                    }}
                  </td>
                </tr>
                </ng-container>

                <!-- Template to show if no data -->
                <ng-template #noData>
                  <tr>
                    <td colspan="3" style="text-align: center; padding: 10px; color: red;">
                      <strong>No data found.</strong>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        [class.demo-row-is-clicked]="clickedRows.has(element)"
        *matRowDef="let element; columns: displayedColumns"
        [ngStyle]="getRowStyle(element)"
        class="element-row"
        [class.expanded-row]="element.isExpanded"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"
      ></tr>
    </table>

    <mat-paginator
      #paginator
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
      [length]="totalSize"
      [pageIndex]="currentPage"
      (page)="handlePage($event)"
    >
    </mat-paginator>
  </div>
</div>
