.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.example-form {
  min-width: 500px;
  width: 100%;
  height: fit-content;
}

.example-full-width {
  width: 100%;
}

.example-half-width {
  width: 50%;
}

#form-button-msg {
  color: red;
}
.mat-label {
  font-size: large;
  font-weight: bold;
}
// .mat-dialog-content{
//   height: 95%;
//   max-height: max-content;
//   //overflow-y: hidden;
//   overflow-x: hidden;
// }

.cdk-overlay-pane.my-dialog {
  position: relative !important;
}

.close-icon {
  // position: absolute;
  // top: 12px;
  // right: 14px;
  color: #e53935 !important;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 0px;
  top: 15px;
  font-size: 15px !important;
}
// .close-icon.mat-button {
//   position: absolute;
//   // top: 0;
//   right: 20%;
//   padding: 35px;
//   line-height: 14px;
//   min-width: auto;
//   color: red;
// }

h2,
mat-label {
  color: #2e6ca9 !important;
}
mat-label {
  font-size: 13px;
}
h2 {
  margin: 0;
}
#updateBtn:not([disabled]) {
  background-color: #2e6c8b !important;
  color: white; /* Optional: ensure text is visible */
}
