
<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="ProceedLogin()">
        <div class="form-group">
          <label>User Name</label>
          <input type="text" formControlName="userId" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['userId'].errors }" />
          <div *ngIf="submitted && f['userId'].errors" class="invalid-feedback">
            <div *ngIf="f['userId'].errors['required']">Username is required</div>
            <div *ngIf="f['userId'].errors['userId']">Username is invalid</div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" (blur)="encryptPassword()"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              Password must not exceed 40 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="example-button-container pull-right captchacss">
            <img [src]="imageUrl" alt="CaptchaImage" />&nbsp;
            <mat-icon class="anchor" (click)="getCaptchaImg()">refresh</mat-icon>
          </div>
          <label>Captcha</label>
          <input type="input" class="form-control" formControlName="captchaCode" autocomplete="off"
            placeholder="Captcha" maxlength="4" [ngClass]="{ 'is-invalid': submitted && f['captchaCode'].errors }">
          <div *ngIf="submitted && f['captchaCode'].errors" class="invalid-feedback">
            <div *ngIf="f['captchaCode'].errors['required']">Please enter Captcha !!!</div>
          </div>
        </div>
        <div class="form-group">
          <br />
          <button type="submit" class="btn btn-primary">SignIn</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->
<div class="login-form-main">
  <div class="container">
    <div class="log-sec-main">
      <div class="log-sec-lft">
        <div class="login-left-sec">
            <img src="assets/login_img.png" alt="analytical_img">
        </div>
      </div>
      <div class="log-sec-rt">
        <div class="login-right-sec">
          <mat-tab-group dynamicHeight>

            <mat-tab label="Sign-In">
              <div class="example-small-box mat-elevation-z4 p-3">
                <!-- <form class="example-form-row" > -->
                <form [formGroup]="loginForm">
                  <mat-label class="me-4">Username</mat-label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Enter username" formControlName="userId" value="" type="text">
                  </mat-form-field>
                  <!-- <mat-label>Password</mat-label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Enter Password" formControlName="password" value="" type="password"
                      (blur)="encryptPassword()">
                  </mat-form-field> -->

                  <!-- <mat-label>Password</mat-label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Enter Password" formControlName="password"
                      [type]="passwordVisible ? 'text' : 'password'" (blur)="encryptPassword()" />
                    <button matSuffix (click)="togglePasswordVisibility()">
                      <mat-icon *ngIf="!passwordVisible">visibility_off</mat-icon>
                      <mat-icon *ngIf="passwordVisible">visibility</mat-icon>
                    </button>
                  </mat-form-field> -->


                  <mat-label>Password</mat-label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Enter Password" formControlName="password"
                      [type]="hidePassword ? 'password' : 'text'" (blur)="encryptPassword()">
                    <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                  </mat-form-field>

                  <table class="example-form-row" cellspacing="0">
                    <tr>
                      <td class="m-3">
                        <!-- <mat-form-field class="example-full-width">
                        <mat-label>Captcha here</mat-label>
                        <input matInput>
                      </mat-form-field> -->
                        <div class="form-group">
                          <div class="example-button-container pull-right captchacss">
                            <img [src]="imageUrl" alt="CaptchaImage" />&nbsp;
                            <mat-icon class="anchor" (click)="getCaptchaImg()">refresh</mat-icon>
                          </div>
                          <label>Captcha</label>
                          <!-- <input type="input" class="form-control" formControlName="captchaCode" autocomplete="off"
                          placeholder="Captcha" maxlength="4" [ngClass]="{ 'is-invalid': submitted && f['captchaCode'].errors }">
                        <div *ngIf="submitted && f['captchaCode'].errors" class="invalid-feedback">
                          <div *ngIf="f['captchaCode'].errors['required']">Please enter Captcha !!!</div>
                        </div> -->
                        </div>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Enter Captcha</mat-label>
                          <input matInput placeholder="Enter Captcha" formControlName="captchaCode" value=""
                            type="text">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <div class="button-sec">
                    <button mat-raised-button color="primary" type="submit" (click)="ProceedLogin()">Login
                      <mat-icon>lock_open</mat-icon></button>
                    <button mat-raised-button color="primary">Forget Password</button>

                  </div>

                  <!-- </form> -->
                </form>
              </div>
            </mat-tab>


            <mat-tab label="OTP-Based">
              <h2>SMS Intregration is not done</h2>
              <!-- <div class="example-small-box mat-elevation-z4 p-3">
                <form [formGroup]="otploginForm" (ngSubmit)="ProceedOtpLogin()">
                  <mat-label>Mobile No</mat-label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Enter Mobile No" formControlName="mobileNo" value="" type="text">
                  </mat-form-field>

                  <div class="button-sec">
                    <button mat-raised-button color="primary" (click)="GenerateOtp()" ><mat-icon > message</mat-icon> Generate OTP</button>
                  </div>

                  <mat-label>Enter OTP</mat-label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Enter OTP" formControlName="password" value="" type="password">
                  </mat-form-field>

                  <div class="button-sec">
                    <button mat-raised-button color="primary"><mat-icon>lock_open</mat-icon> Login </button>
                  </div>
                </form>

              </div> -->
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
