.row{
    padding-bottom: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px !important;
}
table {
    width: 100%;
  }
  
.mat-form-field {
font-size: 14px;
width: 100%;
}
